@import "normalize.css";
@import "../node_modules/semantic-ui-css/semantic.css";

body {
  padding: 1em;
}

.ui ul.list {
  margin-left: 0;
}

ul.list .item:before {
  display: none;
}

ul.list .item {
  padding: .5em;
  overflow: hidden;
}

li.completed {
  text-decoration: line-through;
}

.ui .item .delete {
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0;
  transform: translateX(100%);
  transition: transform ease-in-out .2s;
}

.ui .item:hover .delete {
  transform: translateX(0);
}