@import "normalize.css";
@import "../node_modules/semantic-ui-css/semantic.css";

body {
  padding: 1em;
}

.ui ul.list {
  margin-left: 0;
}

ul.list .item:before {
  display: none;
}

ul.list .item {
  padding: .5em;
}